<div class="messenger">
  <h1>Gemfinder Messenger!</h1>
  <p><i class="fas fa-comments" style="margin-left: 30px;"></i></p>
</div>

<div class="container-fluid">
  <div class="row" style="height: 80vh;">
    <div class="col-xs-3">
      <div class="available-user-list">
        <h5>Available Users</h5>
        <% @similar_users.each do |user| %>
          <p> <%= user.name %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %> </p>
        <% end %>
        <h5>Current Conversations</h5>
        <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <%= link_to conversations_path({ selected_convo: conversation.id }) do%>
            <div class="convo-select">
              <%= cl_image_tag recipient.photo if recipient.photo? %>
              <p class="convo-name"><%= recipient.name %> </p>
              <% if conversation.messages.any? %>
                <p class="slice"> <%= conversation.messages.last.body.slice!(0..10) %>..</p>
              <% end %>
            </div>
            <% unread_messages = [] %>
            <% conversation.messages.each do |message| %>
              <% unread_messages << message %>
            <% end %>
            <% unread_messages = unread_messages.reject { |message| message.read || message.user_id == current_user.id }.count %>
            <% if unread_messages.zero? %>
              <div></div>
            <% else %>
              <div class="positioning-sarah">
                <%= unread_messages %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>


    <div class="col-xs-9">
      <div class="message-display">
        <%if @selected_convo %>
          <%  @selected_convo.messages.each do |message| %>
            <% if message.user == current_user %>
              <div class="message-holder-<%= message.user == current_user ? "sender" : "recipient"  %>"">
                <%= cl_image_tag message.user.photo, class: "avatar-message" %>
                <div class="message-<%= message.user == current_user ? "sender" : "recipient"  %>">
                  <p class="message-content"><%= message.body %></p>
                  <p class="message-date"> <%= message&.created_at&.strftime('%F:%H:%M') %></p>
                </div>
              </div>
            <% else %>
              <div class="message-holder-<%= message.user == current_user ? "sender" : "recipient"  %>"">
                <div class="message-<%= message.user == current_user ? "sender" : "recipient"  %>">
                  <p class="message-content"><%= message.body %></p>
                  <p class="message-date"> <%= message&.created_at&.strftime('%F:%H:%M') %></p>
                </div>
                <%= cl_image_tag message.user.photo, class: "avatar-message" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <% if @selected_convo %>
        <div class="body-type">
          <%= simple_form_for [@selected_convo, Message.new] do |f| %>
            <%= f.input :body, placeholder: "type your message here..", label: false %>
            <%= f.submit "Send", class: "message-btn btn-success"  %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>



