<div class="dashboard-flex">
  <div class="dashboard-flex-item">
    <div class=headingdashboard>
      <h1>Welcome to your Dashboard:</h1>
      <h4>These are the properties that you have selected to track.</h4>
      <%= link_to "Go back to all Properties", properties_path, class: 'dashboard-button' %>
    </div>
  </div>

<div>
  <% @trackings.each do |tracking| %>
  <div class="col-xs-12 col-sm-6">
    <div class="property-card">
      <div class="property-card-header">
        <p><%= tracking.property.name %></p>
        <h3><%= tracking.property.location %></h3>
      </div>
      <div class="property-card-thumbnail" style="background-image: url(<%= cl_image_path tracking.property.photo %>)"></div>
      <div class="property-card-content">
        <div>
          <h3><%= tracking.property.address %></h3>
          <h6><%= tracking.property.price %></h6>
          <h6><%= tracking.property.crime_rating %></h6>
        </div>
        <p> <%= tracking.property.description %></p>
        <p>  <%= tracking.property.year %></p>
      </div>


      <div class="property-card-footer">
        <a>More Info</a>
        <a>Untrack</a>
      </div>
      <%= link_to "", property_path(tracking.property), class: "property-card-link" %>
      <%= link_to "", tracking_path(tracking), method: "delete", class: "property-card-track" %>
    </div>
  </div>
  <% end %>
</div>
</div>
