<div id="properties-index">
  <hr />
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalproperty">
Create</button>

  <%= render "user_modals" %>

  <div class="container">
    <div class="row">
      <% @properties.each do |property| %>
        <% address_parts = property.address.split(',') %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="property-card">
            <div class="property-card-header">
              <p><%= address_parts[-1] %></p>
              <h3><%= property.postcode %> district name</h3>
            </div>
            <div class="property-card-thumbnail" style="background-image: url(<%= cl_image_path property.photo %>)"></div>
            <div class="property-card-content">
              <div>
                <h3><%= address_parts[0] %></h3>
                <h6><%= property.price.split(' ')[0] %></h6>
              </div>
              <p>
                <%= property.description %>
              </p>
            </div>
            <div class="property-card-footer">
              <a>More Info</a>
              <%= link_to "Track", trackings_path(tracking: {user_id: current_user, property_id: property.id }), method: :post  %>
            </div>
            <!-- <a href="#" class="property-card-link"></a>
            <a href="" class="property-card-track"></a> -->
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 720px;"
  data-markers="<%= @markers.to_json %>">
</div>
