<div class="about-us">
  <article>
    <h2>Meet The Team</h2>
  </article>
  <aside>
    <ul>
      <li>
        <h3>
          <span>27+</span>
          <span>Years of Service</span>
        </h3>
      </li>
      <li>
        <h3>
          <span>500+</span>
          <span>Projects Implemented</span>
        </h3>
      </li>
      <li>
        <h3>
          <span>1M+</span>
          <span>Customers</span>
        </h3>
      </li>
    </ul>
  </aside>
</div>

<div class="profiles">
  <div class="flexbox">
    <div>
      <%= image_tag "kitt.jpeg", class: "avatar-large"%>
      <h5 class="text-center"><strong>James</strong></h5>
    </div>
    <div class="right-text">
      <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta id dolorem cupiditate eos cumque earum esse ipsa sunt impedit aperiam, dolor velit sit officia quaerat autem magni, sint voluptatum aut.</em></p>
      <a href="#"><i class="fab fa-github large_size"></i> Visit My Github Profile!</a>
    </div>
  </div>

  <div class="flexbox">
    <div class="left-text">
      <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta id dolorem cupiditate eos cumque earum esse ipsa sunt impedit aperiam, dolor velit sit officia quaerat autem magni, sint voluptatum aut.</em></p>
      <a href="#">Visit My Github Profile! <i class="fab fa-github large_size"></i></a>
    </div>
    <div>
    <%= image_tag "Natasha_GF.png", class: "avatar-large"%>
    <h5 class="text-center"><strong>Natasha</strong></h5>
  </div>
</div>

<div class="flexbox">
  <div>
    <%= image_tag "Amine_GF.png", class: "avatar-large"%>
    <h5 class="text-center"><strong>Amine</strong></h5>
  </div>
  <div class="right-text">
    <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta id dolorem cupiditate eos cumque earum esse ipsa sunt impedit aperiam, dolor velit sit officia quaerat autem magni, sint voluptatum aut.</em></p>
    <a href="#"><i class="fab fa-github large_size"></i> Visit My Github Profile!</a>
  </div>
</div>
<div class="flexbox">
  <div class="left-text">
    <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta id dolorem cupiditate eos cumque earum esse ipsa sunt impedit aperiam, dolor velit sit officia quaerat autem magni, sint voluptatum aut.</em></p>
    <a href="#">Visit My Github Profile! <i class="fab fa-github large_size"></i></a>
  </div>
  <div>
    <%= image_tag "Chris_GF.png", class: "avatar-large"%>
    <h5 class="text-center"><strong>Chris</strong></h5>
  </div>
</div>
</div>
</div>
<%= render 'pages/chatbot' %>
