<div class="about-us">
  <article>
    <h2>Meet The Team</h2>
  </article>
  <aside>
    <ul>
      <li>
        <h3>
          <span>27+</span>
          <span>Years of Service</span>
        </h3>
      </li>
      <li>
        <h3>
          <span>500+</span>
          <span>Projects Implemented</span>
        </h3>
      </li>
      <li>
        <h3>
          <span>1M+</span>
          <span>Customers</span>
        </h3>
      </li>
    </ul>
  </aside>
</div>

<div class="profiles">
  <div class="flexbox">
    <div>
      <%= image_tag "kitt.jpeg", class: "avatar-large"%>
      <h5 class="text-center"><strong>James</strong></h5>
    </div>
    <div class="right-text">
      <p><em>After trading in the finance industry for five years, looking into the real estate market and a few other paths, James decided to focus his time and learning on <strong>Web Development</strong> and programming. During his bootcamp, he raised his team of talented programmers and founded <strong>Gemfinder</strong></em></p>
      <a href="#"><i class="fab fa-github large_size"></i> Visit My Github Profile!</a>
    </div>
  </div>

  <div class="flexbox">
    <div class="left-text">
      <p><em> After graduating in 2018 with a <strong>Law Degree</strong> from the University of Warwick, she's traveled <strong>the World</strong> as well as working in the United States Of America. She has had a lot of experiences within law, economics and the world of the business. Since learning how to code, Natasha has been able to create an addition to her skillset.</em></p>
      <a href="#">Visit My Github Profile! <i class="fab fa-github large_size"></i></a>
    </div>
    <div>
    <%= image_tag "Natasha_GF.png", class: "avatar-large"%>
    <h5 class="text-center"><strong>Natasha</strong></h5>
  </div>
</div>

<div class="flexbox">
  <div>
    <%= image_tag "Amine_GF.png", class: "avatar-large"%>
    <h5 class="text-center"><strong>Amine</strong></h5>
  </div>
  <div class="right-text">
    <p><em>Amine decided early on that the formal path was not destined to be his, after dropping out of school at age 17, Amine focused his time and energy on traveling, learning new languages and <strong>getting more knowledge</strong> on subjects that most interested him. Two months ago, He decided to join the movement and learn how to code, so, he, too, could build his own imagination.</em></p>
    <a href="#"><i class="fab fa-github large_size"></i> Visit My Github Profile!</a>
  </div>
</div>
<div class="flexbox">
  <div class="left-text">
    <p><em>Having always been among the top three students in class, James got a degree in <strong>IT Engineering</strong> from the <strong>University of Alicante</strong> in 2008. He recently decided to get into the Tech industry and get his skillset as a programmer to the best it could be.</em></p>
    <a href="#">Visit My Github Profile! <i class="fab fa-github large_size"></i></a>
  </div>
  <div>
    <%= image_tag "Chris_GF.png", class: "avatar-large"%>
    <h5 class="text-center"><strong>Chris</strong></h5>
  </div>
</div>
</div>
</div>
<%= render 'pages/chatbot' %>
