<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GemFinder - Find Undervalued Property in London</title>
    <%= favicon_link_tag 'favicon-32x32.png' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,900" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag "map" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <% if params["controller"] == 'pages' && params["action"] == 'home' #if current_page?(controller: 'pages', action: 'home') %>
    <%= render 'shared/homenavbar' %>
  <% else %>
    <%= render 'shared/navbar' %>
  <% end %>
    <%= render 'shared/user_modals' if params["controller"] == "properties" && params["action"] == "index" %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
